# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.Python
env/
venv/
.venv/
ENV/

# Environment variables
.env

# Distribution / packaging
dist/
build/
*.egg-info/

# Uploads & data
backend/uploads/
backend/chroma_db/

# IDE
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Logs
*.log

# Node / Frontend
node_modules/
.next/
frontend/dist/
frontend/build/
